/*
   Use the glasses' classes to apply filters to the glass images
*/
/* Put your styles ABOVE this line */
.header{
   color:white;
}
.label{
    color:white;
    text-shadow: 2px 2px 3px gray;
    visibility:hidden; // hide the text for now
}

img{
    height:50px;
    width:50px;
    position:inline;
}

body{
    background-color: black;
    background-attachment:fixed;
    background-size: 100% 100%;
    text-align:center;
}
