/*
   Use the glasses' classes to apply filters to the glass images
*/
/* Put your styles ABOVE this line */
div.platter{
    position:relative;
    background-size:100% 100%;
    height:200px;
    width:200px;
    background-color: black;
    animation: serve 3s forwards;
   
}
.header{
   color:white;
}
.label{
    color:white;
    text-shadow: 2px 2px 3px gray;
    visibility:hidden; // hide the text for now
}

img{
    height:50px;
    width:50px;
    position:inline;
}

body{
    background-color: black;
    background-attachment:fixed;
    background-size: 100% 100%;
    text-align:center;
}

ul{
    list-style-type:none; // remove bullets
}

li{
    display:inline-flex; // force list items to be in one line
}
.platter:hover .label{
    visibility:visible;
}
@keyframes serve{
    from{
        height:200px;
        width:200px;
    }
    to{
        height:400px;
        width:400px;
    }
}
